<ul>
  <% @contents.each do |content| %>
    <li><%= cl_video_tag content.title %></li>
    <li><%= cl_video_tag(content.video.key, autoplay: true, controls: true, crop: "pad", loop: false) %></li>
  <% end %>
</ul>
