<ul>
  <% @contents.each do |content| %>
    <% if content.video.attached?  %>
      <li><%= content.title %></li>
      <li><%= video_tag(content.video.url, autoplay: false, controls: true, loop: false) %></li>
    <% end %>
  <% end %>
</ul>
