.preview-messages {
  border-right: $dark-purple solid 1px;
}


.left-side h4 {
  margin-left: 0.3em;
  margin-bottom: 1em;
}

.top-message-name-dashboard {
  background-color: $dark-purple;
  color: white;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.nav-pills .nav-link.active {
  background-color: $purple;
}

.flex-column {
  flex: 0 0 250px;
}
