// Specific CSS for your home-page

h1 {
  color: $dark-purple;
  font-size: 70px;
  margin-bottom: 35px;
  font-weight: 800;
}

h2{
  color: $dark-purple;
  font-size: 36px;
}

h5 {
  font-weight: bold;
}

.home-steps {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 50px;
}


.step-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  width: 25em;
  height: auto;
  color: $dark-purple;
  border: 1px solid lightgray ;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin: 20px;
  i {
    font-size: 50px;
    color: $orange;
    margin-bottom: 30px;
  }
}

.section {
  margin: 50px 0px;
}

.scroll-horizontal{
  display:block;
  width: 100%;
  overflow-x: scroll;
  padding: 10px;
  margin: 0;
  white-space: nowrap;
}
