p {
  font-size: 14px;
  margin-bottom: 0.4em;
}

.modal p {
  margin-right: 0px;
  color: $dark-purple;
  font-weight: 600;
  margin-bottom: 1em;

}

.subtitle {
  margin-bottom: 11px;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: 600;
}

h5 {
  font-weight: 600;
}

.disabled {
  background-color: white;
}

.top-message-name-show {
  background-color: $dark-purple;
  color: white;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.show-background {
  background-color: $white;
}

.left-side-description {
  height: 100%;
  overflow-y: auto;
}

.container-mentor {
  height: calc(100vh - 259px);
  overflow: hidden;
}

