<div class="card-video">
  <%= video_tag("#{content.video.url}", autoplay: false, controls: true, loop: false, poster: image_path('thumbnail.png')) %>
  <div class="card-title">
    <%= content.title %>
  </div>
</div>
