.btn-home {
  margin-top: 20px;
  padding: 10px 30px;
  text-decoration: none;
  background-color: $light-purple;
  color: $dark-purple;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid $purple;
  font-weight: bold;
  margin-top: 40px;
  transition: all 0.5s;
}

.btn-home:hover {
  background-color: $purple;
  color: $white;
  transition: all 0.5s;
  margin-top: 50px;
}

.btn-purple {
  color: white;
  display: flex;
  padding: 5px 10px;
  border-radius: 10px;
  height: 2.3rem;
  background: #9E96FF;
  align-items: center;
  border: 1px solid #9E96FF;
  text-decoration: none;
}

.btn-purple:hover {
  background: linear-gradient($purple, $light-purple);
  transition: 0.3s ease;
  text-decoration: none;
  color: $white;
}

.btn-navbar {
  padding: 5px 15px;
  margin: -7px;
  height: 100%;
  border: 1px solid #ebebeb;
  font-weight: lighter;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  transition-duration: 0.4s;
  background: $purple;
  color: white;
  min-width: 60px;
  position: relative;
  left:0cm;
}

.btn-navbar:hover {
  background: linear-gradient($purple, $light-purple);
  transition: 0.6s ease;
  text-decoration: none;
  color: $white;
}

.btn-chat {
  color: $dark-purple;
  padding: 5px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background:$orange;
  text-decoration: none;
  border: 0px solid #ebebeb;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);

}

.btn-chat:hover {
  background: $light-orange;
  transition: 0.3s ease;
  text-decoration: none;
  color: $dark-purple;
}

.btn-book {
  position: absolute;
  right: 1px;
  top: -50px;
  color: $dark-purple;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 600;
  background-color: $orange;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);

}

.btn-book:hover {
  color: $dark-purple;
  background-color: $light-orange;
  transition: 0.3s ease;
  text-decoration: none;
}


.link-purple {
  color: $dark-purple;
  font-weight: bold;
  font-family: $headers-font;
}

.link-purple:hover {
  color: $purple;
}

.headers-section {
  a {
    text-decoration: none;
  }
}
