.card-video-horizontal {
  color: $dark-purple;
  background-color: $light-orange;
  border-radius: 30%;
}

.card-mentor-horizontal {
  background: linear-gradient($light-orange, 90%, $white);
  transition: 0.3s ease;
  color: $dark-purple;
  border-radius: 10px;
  padding: 10px 30px 10px 10px;
  margin: 10px;
  width: 30vw;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
.card-mentor-horizontal:hover {
  background: linear-gradient($white, 10%, $light-orange);
  transition: 0.3s ease;
}

.card-mentor-vertical {
  background: linear-gradient($light-orange, 90%, $white);
  margin: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  width: 20vw;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  a {
  text-decoration: none !important;
  color: $dark-purple;
  }
}
.card-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $dark-purple;
  margin: 0px 15px 0px 5px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}
.card-mentor-vertical-avatar {
  margin: 10px auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
}
.card-info {
  width: 100%;
}

.card-sector-industry {
  font-size: 12px;
}

.card-position {
  font-size: 14px;
  border-top: 1px solid $dark-purple;
}

.card-school, .card-age {
  font-size: 14px;
}

.item {
  display: inline-block;
}

.experience-card {
  background: $light-orange;
  transition: 0.3s ease;
  color: $dark-purple;
  border-radius: 10px;
  padding: 10px 30px 10px 10px;
  width: 45vw;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);

.meeting-card {
  background: white;
  color: $dark-purple;
  border-radius: 10px;
  padding: 10px 0px 0px 10px;
  margin: 10px;
  width: 90%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  height: 7em;
  & ul {
    list-style: none;
  }
  & .card-avatar {
    margin: 0px 0px 10px 0px;
    }
  & h5 {
    font-size: 20px;
    margin-bottom: 0.2rem;
  }
}

.chat-card {
  background: white;
  color: $dark-purple;
  border-radius: 10px;
  padding: 10px 0px 0px 10px;
  margin: 10px;
  width: 45%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  height: 4em;
  font-size: 13px;
  & ul {
    list-style: none;
  }
  & .card-avatar {
    width: 40px;
    height: 40px;
    margin: 10px 0px 0px 0px;
    margin: 0px -15px 10px 0px;
  }
  & h5 {
    margin-bottom: 0.2rem;
  }
}

.card-infos {
  font-size: 12px;
}

.upcoming-meetings {
  margin-top: 20px;
  margin-bottom: 50px;
}

.preview-messages {
  margin-top: 20px;
}
