.conversation {
  background: white;
  border-radius: 5px;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);


  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;


    .form-group {
      margin-bottom: 0;
    }
  }
}

.dashboard-conversation {
  background: white;
  border-radius: 5px;
  height: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .messages {
    overflow: scroll;
    padding: 1rem 0;
    border-bottom: 1px solid $gray-200;
  }

  #new_message {

    .form-group {
      margin-bottom: 0;
    }
  }
  .text-submit-area {
    margin-top: 1rem;
  }
}

.conversations-card {
  background-color: white;
  margin-top: 1em;
  width: 95%;
  margin: 10px;
  height: 80vh;
}


.message {
  margin-bottom: 8px;
  .message-infos {
    display: flex;
    align-items: center;
    margin: 0 4px;
    font-size: 0.75rem;
    color: rgb(200, 200, 200);
    p {
      margin: 0;
    }
  }
  .message-avatar {
    height: 35px;
    width: 35px;
    object-fit: cover;
    object-position: center;
    border: 1px rgb(200, 200, 200) solid;
    border-radius: 50%;
    margin: 0 4px;
  }
  .message-content {
    display: flex;
    p {
      width: 60%;
      margin: 0;
      border: 1px rgb(200, 200, 200) solid;
      padding: 8px 16px;
      border-radius: 5px;
    }
  }
}

// This is what displays the message on the right
.message.sender {
  .message-infos {
    flex-direction: row-reverse;
  }
  .message-content {
    flex-direction: row-reverse;
  }
  .message-inner-content {
    background-color: $purple;
    color: white;
  }
}
